body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    black,
    rgb(49, 49, 49),
    rgb(70, 70, 70),
    black
  );
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  overflow: hidden;
  gap: 30px;
}

* {
  font-family: "Courier New", Courier, monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.canvas {
  background-color: rgb(226, 60, 60);
  width: 600px;
  height: 300px;
  position: relative;
  p {
    font-weight: 500;
    color: white;
    font-size: 17px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    pointer-events: none;
  }
}

.canvas.green {
  background-color: green;
}

button {
  background-color: transparent;
  font-size: 20px;
  color: white;
  border: 2px solid white;
  font-weight: 600;
  padding: 10px 12px;
  transition: 0.4s;
  border-radius: 5px;
  &:hover {
    background-color: white;
    color: black;
    transition: 0.4s;
    cursor: pointer;
  }
}

@media all and (max-width: 630px) {
  .canvas {
    width: 95%;
    p {
      width: 90%;
    }
  }
}

@media all and (max-width: 400px) {
  h1 {
    font-size: 8vw;
  }
}
